<div class="card">
    <div class="card-header">
        @(ProjectModel.Category == ProjectCategory.FreeTime ? ProjectModel.Category.GetDisplayName() : EmployerName)
        <span class="float-right">@ProjectModel.StartDate.ToString("yyyy-MM") - @(ProjectModel.EndDate?.ToString("yyyy-MM") ?? "today")</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">@ProjectModel.Name @(string.IsNullOrEmpty(ProjectModel.Customer) ? $"at {ProjectModel.Customer}" : "")</h5>
        <h6 class="card-subtitle mb-2 text-muted">@ProjectModel.Role</h6>
        <p class="card-text">@ProjectModel.Description</p>
    </div>
    <div class="card-footer">
        @foreach (var skill in ProjectModel.Skills)
        {
            <Badge>@skill</Badge>
        }
    </div>
</div>

@code {
    [Parameter]
    public ProjectModel ProjectModel { get; set; }

    [Parameter]
    public string EmployerName { get; set; }
}
