@attribute [Route("/" + WebRoutes.AboutMe)]
@using Portfolio.Core.Entities
@inject Portfolio.BusinessLogic.Employers.IEmployerService Service

<h3 class="standard-margin">Summary</h3>
<hr />
<p>
    Dennis is a full-stack .NET developer who is driven, has goals and gets the job done.
    He has much experience working with IT within advertisement, banking, VR-gaming and government agencies.
    Throughout his career, Dennis has taken on multiple stacks, including Java, Unity3D game development, .NET Framework and now .NET Core.
    Dennis is currently interested in opportunities regarding React Hooks, .NET Core, Docker and Kubernetes.
</p>
<p>
    When Dennis isn't working, he's busy piloting powerless aircraft above the lakes and woods of Södermanland.
    He spends his summers on Vängsö Airfield, where he teaches ground operations, materials handling and airport safety to aspiring glider pilots.
    During winter he schedules people for maintenance on a specific aircraft, as well as programming on personal projects.
</p>
<h3>Experience</h3>
<Spinner IsLoading=@isLoading>
    @foreach (var exp in experience.OrderByDescending(e => e.StartDate))
    {
        <hr />
        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12">
                        <h5>@exp.Name</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="text-muted">@exp.StartDate.ToString("yyyy-MM") - @exp.EndDate?.ToString("yyyy-MM")</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <p>
                    @exp.EmployerDescription
                </p>
                <p>
                    @exp.RoleDescription
                </p>
            </div>
        </div>
    }
</Spinner>

@code {
    private IEnumerable<Employer> experience;

    private bool isLoading = true;

    protected override void OnInitialized()
    {
        experience = Service.GetEmployers();
        isLoading = false;
    }
}
